<div class="col-md-10 col-md-offset-1">
    <section style="margin-top: 10%;" class=" col-md-4 col-md-offset-4 col-sm-6 vcenter col-sm-offset-3 col-xs-12">
        <div class="info-panel-body">
            <div class="info-panel-section gray">
                <h1>Log in</h1>
            </div>
        </div>
        <div class="info-panel-body">
            <div class="info-panel-section color-login">
                <form method="post" name="loginForm" novalidate>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="icon1">
                                <span class="fa fa-user"></span>
                            </span>
                            <input type="text" maxlength="254" class="" id="exampleInputEmail1"
                                   name="username"
                                   ng-model="credentials.username"
                                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/"
                                   required>
                        </div>
                        <p ng-show="loginForm.username.$error.pattern" class="help-block">
                            <span style="color: red">Enter a valid email</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="icon2">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="password" maxlength="45" class="" id="exampleInputPassword1"
                                   name="password" ng-model="credentials.password" required>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberMe" ng-model="rememberMe">Remember me
                        </label>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 login-left">
                            <button class="form-control" type='submit' value='Submit' name='loginSubmit'
                                    class="button lime-green round btn-block"
                                    ng-click='login()' ng-disabled='loginForm.$invalid || isLoading'>Log in
                                <span ng-show='isLoading' class="glyphicon glyphicon-cog spin-animate"></span>
                            </button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button type="button" name="signUpSubmit"
                                    class="form-control button turquoise round btn-block" ng-click="register()">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div class="col-md-4 margin-login" id="alertLogin">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"
               ng-show="showAlerts">{{alert.msg}}>
    </uib-alert>
</div>
